.contactLogo:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.contactLogo {
	width: 11vw;
}
.contactPage {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.contactLogoContainer {
	padding: 6vw;
}
.contactLogoGroup {
	display: flex;
	justify-content: space-between;
}
.pageContainer {
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 5%;
}
.homeContainer {
	margin-right: 10%;
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.homeButtonGroup {
	margin-top: 25px;
	display: flex;
	gap: 25px;
}
.errorContainer {
	margin-top: 15%;
	text-align: center;
}
.descriptionWithCountdown {
	align-items: center;
	justify-content: center;
}
.bottomCharacterContainer {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
@media screen and (max-width: 780px) {
	.homeContainer {
		margin-left: 5%;
		margin-right: 5%;
		width: 90vw;
	}
	.bottomCharacterContainer {
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}
}
