@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
.nameContainer {
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}
.footerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #e9947a;
	padding: 20px;
}

.footerText {
	color: white;
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
}

.linkContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nameContainer {
	font-size: 14px;
	color: inherit;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}
.sponsorImg:hover {
	cursor: pointer;
}
.descriptionHeader {
	white-space: nowrap;
	width: auto;
	display: inline-block;
}
.homeButtonGroup {
	margin-top: 15%;
}
.afisImg {
	border: 4px solid orange;
	border-radius: 10%;
	max-width: 90%;
	max-height: 90%;
}

.metuBox {
	margin-top: 60px;
}
.ünogBox {
	margin-top: 60px;
}
.clubBoxImage:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.calendarEventText {
	padding-left: 15px;
	align-self: center;
	font-family: 'Josefin Sa ns';
	font-style: normal;
	font-weight: 300;
	font-size: 1.5vw;
	line-height: 140%;
	color: #1b1c1e;
}
.calendarEventTime {
	align-self: center;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 1.5vw;
	line-height: 140%;
}
.calendarEventsBox {
	padding-left: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
}
.calendarEventRow {
	display: flex;
}
.calendarDayNumber {
	color: #4eb1dd;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 2.2vw;
	line-height: 140%;
}
.calendarDay {
	color: #006896;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5vw;
	line-height: 140%;
}
.calendarGrid {
	display: flex;
	flex-direction: column;
	border: 3px solid black;
	justify-content: space-between;
	align-items: center;
	border-radius: 28px;
	background: #db8165;
	padding: 15px;
	padding-left: 5vw;
	padding-right: 5vw;
}
.calendarHeader {
	font-family: 'Josefin Sans';
	font-size: xx-large;
}
.calendarDateBox {
	padding: 10px;
	justify-content: space-around;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 15%;
	margin: 6px;
	background: #ffffff;
	border-radius: 27px;
}
.calendarRow {
	display: flex;
	border: 6px solid #ffffff;
	width: 80%;
	border-radius: 35px;
	margin: 10px 0;
}
.navContainerMobile {
	display: none;
}
.toggleContainer {
	justify-content: center;
	width: 100%;
	display: flex;
}
.toggleButton {
	background-color: transparent;
	border: none;
	display: none;
}
.navContainer {
	display: flex;
	justify-content: center;
	padding: 1vw;
	border-bottom: 0.15em solid black;
}
.active {
	text-shadow: 0.2px 2px 2px grey;
}
.navBar {
	width: 60%;
	display: flex;
	justify-content: space-between;
}
.navItem {
	text-decoration: none;
	color: #1f2224;
	font-family: 'Amatic SC';
	font-style: 'normal';
	font-weight: 700;
	font-size: x-large;
	line-height: 20px;
	border: 2px solid black;
	border-radius: 99px;
	padding: 15px;
	text-align: center;
}
.navItem:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.countdownContainer {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}
.countdownItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7px;
	width: 85px;
	height: 60px;
	color: white;
	background: #dd6843;
	border-radius: 13px;
}
h1 {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 120%;
	color: #1f2224;
}
h2 {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	color: #1f2224;
}
h3 {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
	color: #1f2224;
}
.text {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 23px;
	line-height: 140%;
	color: #1f2224;
}
.pillBtn {
	font-family: 'Josefin Sans';
	font-size: large;
	padding: 2.5vh;
	padding-left: 4vh;
	padding-right: 4vh;
	gap: 10px;
	border-radius: 100px;
	background-color: #dd6843;
	color: white;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: capitalize;
	border: 2px solid black;
	text-align: center;

	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
}
.pillBtnReversed {
	border: 1px solid black;
	font-size: large;
	padding: 2.5vh;
	padding-left: 4vh;
	padding-right: 4vh;
	gap: 10px;
	border-radius: 100px;
	background-color: white;
	color: #dd6843;
	border: 2px solid #dd6843;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}
.pillBtn:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.pillBtnReversed:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.itemContainer {
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
}
.gridContainer {
	align-self: center;
	width: 60%;
	margin-bottom: 5%;
}
.mapContainer {
	width: 100%;
	height: 100vh;
}
.dateText {
	font-size: x-large;
}
.description {
	display: inline-block;
	vertical-align: top;
	align-content: center;
	margin-right: 8vw;
}
.countdownWrapper {
	justify-content: center;
	align-content: center;
}
.faqContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.faqTextContainer {
	display: flex;
	align-items: center;
}
.faqHeader {
	font-family: 'Amatic SC';
	font-size: xx-large;
	font-weight: 700;
}
.faqText {
	color: #1f2224;
	font-family: 'Josefin Sans';
	font-weight: 300;
	font-size: x-large;
}
@media screen and (max-width: 980px) {
	.afisImg {
		border: 4px solid white;
		border-radius: 10%;
		max-width: 90%;
		max-height: 90%;
		margin-top: 5vh;
	}
}
@media screen and (max-width: 780px) {
	.navBarMobile {
		animation: growDown 300ms ease-in-out forwards;
		display: flex;
		flex-direction: column;
	}

	.navBarMobile .navItem {
		margin-top: 10px;
	}
	.navContainerMobile {
		transform-origin: top center;
		justify-content: center;
		display: flex;
		position: sticky;
		top: 0;
		z-index: 1;
		width: 100vw;
		background-color: #dd6843;
		padding: 0;
	}
	.toggleButton {
		margin: 10px;
		display: flex;
	}
	.navContainer {
		display: none;
	}
}
@keyframes growDown {
	0% {
		transform: scaleY(0);
	}
	80% {
		transform: scaleY(1.1);
	}
	100% {
		transform: scaleY(1);
	}
}

.gg-push-chevron-down {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 100px;
}
.gg-push-chevron-down::after,
.gg-push-chevron-down::before {
	content: '';
	display: block;
	box-sizing: border-box;
	position: absolute;
	border-bottom: 2px solid;
}
.gg-push-chevron-down::before {
	bottom: 0;
	width: 14px;
	height: 2px;
	left: 2px;
}
.gg-push-chevron-down::after {
	width: 10px;
	height: 10px;
	border-right: 2px solid;
	transform: rotate(45deg);
	left: 4px;
	top: 2px;
}
.gg-push-chevron-up {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 100px;
}
.gg-push-chevron-up::after,
.gg-push-chevron-up::before {
	content: '';
	display: block;
	box-sizing: border-box;
	position: absolute;
	border-top: 2px solid;
}
.gg-push-chevron-up::before {
	top: 0;
	width: 14px;
	height: 2px;
	left: 2px;
}
.gg-push-chevron-up::after {
	width: 10px;
	height: 10px;
	border-right: 2px solid;
	transform: rotate(-45deg);
	left: 4px;
	bottom: 2px;
}
