@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
.navContainer{
    padding: 1vh;
    border-bottom: 0.15em solid black;
}
.active{
    text-shadow: 0.2px 2px 2px grey;
}
.navBar{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    
}
.navItem{
    text-decoration:none;
    color: #1F2224;
    font-family: 'Amatic SC';
    font-style: "normal";
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    border: 2px solid rgb(32, 85, 85);
    border-radius: 99px;
    padding: 15px;
}
.navItem:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.countdownContainer{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.countdownItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    width: 85px;
    height: 60px;
    color: white;
    background: #DD6843;
    border-radius: 13px;
}
h1{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    color: #1F2224;
}
h2{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #1F2224;
}
h3{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #1F2224;
}
.text{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 140%;
    color: #1F2224;
}
.pillBtn{
    font-size: large;
    padding: 2.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
    gap: 10px;
    border-radius: 100px;
    background-color: #DD6843;
    color:white;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    border: none;
    text-align: center;
}
.pillBtnReversed{
    font-size: large;
    padding: 2.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
    gap: 10px;
    border-radius: 100px;
    background-color: white;
    color:#DD6843;
    border: 2px solid #DD6843;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.pillBtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.pillBtnReversed:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.itemContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.gridContainer{
    align-self: center;
    width: 60%;
    margin-bottom: 5%;
}
.mapContainer{
    width: 100%;
    height: 100vh;
}
.dateText{
    font-size:x-large;
}
.description{
    margin-right: 8vw;
    align-content: center;
}
.countdownWrapper{
    justify-content: center;
    align-content: center;
}
.faqContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faqTextContainer{
    display: flex;
    align-items: center;
}
.faqHeader{
    font-family: "Amatic SC";
    font-size: xx-large;
    font-weight: 700;
}
.faqText{
    color: #1F2224;
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-size: x-large;
}